.container
{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: white;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    left:0 ;        
}

.section1
{
    width: 100%;
    height: 95%;
    padding-top: 5%;
    display: inline-block;
    position: fixed;
    
    

}

.MenuBar
{
    width: 100%;
    height: 14%;
    background-color: #89CFF0;
    display: block;
    padding-top: 0;
    
    
}

.GeorgeK
{
    position: fixed;
    top: 4;
    left: 150;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 4px 4px 4px black;
}